@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model User

<form method="post">
    <div class="mb-3">
        <label asp-for="userID"  for="name" class="form-label">User Id</label>
        <input type="number" class="form-control" id="name" placeholder="Enter user id">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Your First Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your first name">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Your Last Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your last name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Your Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password">
    </div>
    <div class="mb-3">
        <label for="repeatPassword" class="form-label">Repeat Password</label>
        <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat your password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
