@{
    ViewData["Title"] = "Home Page";
}
@model User

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome To Our Ticket System</h1>
            <p class="lead text-body-secondary">Welcome to our system please sign up or sign in to complete your intended actions</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Sign In</a>
                <a href="#" class="btn btn-secondary my-2">Sign Up</a>
            </p>
        </div>
    </div>
</section>
